<script type="text/javascript" src="/js/enrollment/enrollmentEdit.js"></script>

<div class="demo">
	<form method="POST" id="form_edit" action="doEdit.html">
	<table>
		<tr>
			<td>登录名:</td>
			<td><input id="logonName" name="logonName" value="$!user.logonName"/></td>
			<td>
				<div id="div_logonName_valide"><img src="/img/ico_valid.gif" alt="校验通过" /></div>
				<div id="div_logonName_un_valide"><font color="red">"登录名"已被占用</font></div>
				<div id="div_logonName_null"><font color="red">"登录名"不得为空</font></div>
			</td>
		</tr>
		<tr>
			<td>登录密码：</td>
			<td><input id="logonPasswd" name="logonPasswd" type="password" value="$!user.logonPasswd"/></td>
			<td>
				<div id="div_logonPasswd_pass"><img src="/img/ico_valid.gif" alt="校验通过" /></div>
				<div id="div_logonPasswd_un_pass"><font color="red">"登录密码"不得为空</font></div>
			</td>
		</tr>
		<tr>
			<td>再次输入密码：</td>
			<td><input id="logonPasswdValid" name="logonPasswdValid" type="password" value="$!user.logonPasswd"/></td>
			<td>
				<div id="div_logonPasswdValid_pass"><img src="/img/ico_valid.gif" alt="校验通过" /></div>
				<div id="div_logonPasswdValid_un_pass"><font color="red">密码不一致,请重新输入</font></div>
			</td>
		</tr>
		<tr>
			<td>昵称:</td>
			<td><input id="nickName" name="nickName" value="$!user.nickName"/></td>
			<td>
				<div id="div_nickName_valide"><img src="/img/ico_valid.gif" alt="校验通过" /></div>
				<div id="div_nickName_un_valide"><font color="red">"昵称"已被占用</font></div>
				<div id="div_nickName_null"><font color="red">"昵称"不得为空</font></div>
			</td>
		</tr>
		<tr>
			<td>生日:</td>
			<td>
				<div id='demo'>
				<input type="text" id="birthday" name="birthday" value="$!user.birthday" />
				</div>
			</td>
		</tr>
		<tr>
			<td>性别:</td>
			<td>
				<select name="gender">
				#enumIterator("GenderEnum" "$!user.gender")
				</select>
			</td>
		</tr>
		<tr>
			
			<td>
				<input name="status" type="hidden" value="$!user.status" />
			#if($!user.id)
				<input id="id" name="id" type="hidden" value="$!user.id"/>
				<input name="submit" type="submit" value="修改"/>
			#else
				<input name="submit" type="submit" value="注册"/>
			#end
			</td>
			<td><input name="reset" type="reset" value="重置" /></td>
	</table>
	</form>
</div>