<strong>欢迎来到dreamcube  let's start !!</strong>current time is $time</br>
使用dateUtils.addDays(time,1) 得到 $dateUtils.addDays($time,1)
另外有dateTool可以使用 按照"yyyy-MM-dd"格式化得到$dateTool.format('yyyy-MM-dd',$time)
<p>
<a href="">Link</a>
<p id="xxx">json点击测试</p>
<img src="/dreamcube/picCode.checkcode"/>
$moduleRender.setTargetModule("/index.html")
<script type="text/javascript">
$(document).ready(function() {
	$("p").click(function() {
		var jsonResponse = jQuery.getJSON('/dreamcube/enrollment/helloworld.json',function(data){
		
		alert(data.time);
		});
		alert(jsonResponse);
	});    //end of click function
});   // end of ready function

//$(xxx).empty();
</script>
		 
		