<div id="squad_search">
	<form name="suqad_form_query" method="post" action="doSquadQuery.html" >
	<table border="0" cellspacing="0" cellpadding="5" id="contentsearch">
	<tr>
		<th colspan="4">查询列表</th>
	</tr>
	<tr>
     	<td width="10%" align="left">团队名称: </td>
     	<td width="20%">
		 	<input type="text" id="squadName" name="squadName" value="$!squad.squadName"/>
     	</td>
   </tr>
   <tr>
	  	<td id="searchbutton" colspan="4" >
	  		<input type="hidden" name="pageNum" />
			<input type="submit" name="search" value=" 搜 索 " onclick="clickSub(this)" />&nbsp;
			<span id="hid_sub" style="display:none">查询中，请稍候 ...</span>
			<input type="button" name="clean" value=" 清 空 " onclick="cleanElement();" />&nbsp;
			<input type="button" name="add" value=" 添 加 " onclick="do_modify_action();" />&nbsp;
		</td>
	</tr>
	</table>
	</form>
</div>

<div id="squad_result">
	##结果列表表格	
	<table id="searchresult" border="0" cellspacing="0" cellpadding="5">
	#if($!squadList && $!squadList.size()==0)
		<tr>
			<th colspan="4" id="searchbutton">
				<font color="red">查询：没有符合条件的记录</font>
			</th>
		</tr>
	#elseif($squadList && ($squadList.size()>0))
		<tr>
			<th>团队名称</th>
			<th>团队简介</th>
			<th>发起者</th>
			<th>团队成员</th>			
			<th>跟随者</th>
			<th>投资人</th>			
			<th>当前状态</th>
			<th>创建时间</th>
			<th>最后修改时间</th>
			<th>更改操作</th>
		</tr>
		#foreach($item in $squadList)
		<tr>
			<td>$!item.squadName &nbsp;</td>
			<td>$!item.squadDesc &nbsp;</td>
			<td>$!item.axiser &nbsp;</td>
			<td>$!item.cubers &nbsp;</td>
			<td>$!item.followers &nbsp;</td>
			<td>$!item.investors &nbsp;</td>
			<td>$!jdkEnumUtils.getEnumByCode("DCSquadStatusEnum","$!item.status") &nbsp;</td>
			<td>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!item.gmtCreate) &nbsp;</td>
			<td>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!item.gmtModify) &nbsp;</td>
			<td width="8%">
				<form name="squad_form_list_$!item.id" method="post" action="doDelete.html">
					<input type="hidden" name="id" value="$!item.id">
					<input type="hidden" name="squadName" value="$!item.squadName">
					<input type="hidden" name="squadDesc" value="$!item.squadDesc">
					<input type="hidden" name="axiser" value="$!item.axiser">
					<input type="hidden" name="cubers" value="$!item.cubers">
					<input type="hidden" name="followers" value="$!item.followers">
					<input type="hidden" name="investors" value="$!item.investors">
					<input type="hidden" name="status" value="$!item.status">
					<input type="submit" name="doDelete" value="删除" onClick="return deleteAction()">
    				<input type="button" value="修改" onclick="do_modify_action($!item.id);" />
			   </form>
			</td>
			
		</tr>
		#end
		<tr>$!squadList.paginator
			##分页属性栏
			<div align="center">
				<script>
				pageSlider($!squadList.paginator.pages,$!squadList.paginator.page,$!squadList.paginator.items,$!squadList.paginator.itemsPerPage,'','suqad_form_query','pageNum','/img');	
				</script>
			</div>
		</tr>
	#end ##if($pageList && $pageList.size()>0)语句块
	</table>##end##结果列表表格
</div>


<script  type="text/JavaScript">

function clickSub(obj){
	obj.style.display="none";
	$("#hid_sub").style.display="";
}
					
##跳转到新增页面
function do_modify_action(id){
	var page = "squadEdit.html";
	var squadId;
	if(id != null)
		page += "?id="+id;
		
	
	window.open(page, 'newwindow', 'height=600, width=700, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
	
}
##是否确认删除
function deleteAction() {
	var alarm = "确定要删除吗?"
	if(confirm(alarm)){					  	
	  return true;
	}
   return false;
}

function cleanElement(){
	$("#squadName").val("");
}

$(document).ready(function() {
	$("#squadName").focus();
	
});
</script>