<div>
	
	<form method="POST" id="form_edit" action="doEdit.html">
	<table>
		<tr>
			<td>小组名:</td>
			<td><input name="squadName" value="$!squad.squadName"/></td>
		</tr>
		<tr>
			<td>小组描述:</td>
			<td><textarea name="squadDesc">$!squad.squadDesc</textarea></td>
		</tr>
		<tr>
			<td>团队成员:</td>
			<td><input name="cubers" value="$!squad.cubers"/></td>
		</tr>
		<tr>
			<td>跟随者:</td>
			<td><input name="followers" value="$!squad.followers"/></td>
		</tr>
		<tr>
			<td>投资人:</td>
			<td><input name="invertors" value="$!squad.invertors"/></td>
		</tr>
		<tr>
			<td>当前状态:</td>
			<td>
				<select name="status">
				#enumIterator("DCSquadStatusEnum" "$!squad.status")
				</select>
			</td>
		</tr>
		<tr>
			<input type="hidden" name="id" value="$!squad.id">
			#if($!squad.id)
			<td><input name="submit" type="submit" value="修改"/></td>
			#else
			<td><input name="submit" type="submit" value="新增"/></td>
			#end
			<td><input name="reset" type="reset" value="重置" /></td>
		</tr>
	</table>
	</form>
</div>