<head>
	<title>梦想魔方，您梦想开始的地方！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=7" />
	<meta name="description" content="梦想魔方， 您梦想的孵化器，梦想的源泉" />
	<meta name="keywords" content="梦想，创业" />

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/site.css"/>
</head>