<head>
	<title>梦想魔方，您梦想开始的地方！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=7" />
	<meta name="description" content="梦想魔方， 您梦想的孵化器，梦想的源泉" />
	<meta name="keywords" content="梦想，创业" />

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<!-- 上线时考虑用google提供的压缩后jQuery -->
	<!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
	-->
	
	<!-- 标准库 -->
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
	
	<!-- jQuery实现的图片切换 -->
	<script type="text/javascript" src="/js/jquery.soChange.js"></script>
	
	<!-- 日期控件 -->
	<script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.datepicker-zh-CN.js"></script>
    
    <!-- 自定义JS -->
    <script type="text/javascript" src="/js/page.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/css/site.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/smoothness/jquery-ui-1.8.1.custom.css"/>
</head>
